
* {
  box-sizing: border-box;
}

input {
  outline: none;
}


.clearFix:before,
.clearFix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

@mixin no-break-line-text {
  overflow: hidden; //超出的文本隐藏
  text-overflow: ellipsis; //溢出用省略号显示
  white-space: nowrap; //溢出不换行
}

$fontColor: #24292e;
$themeColor: #00B96B;
$themeHoverColor: rgba(0, 185, 107, .7);
$textColor: #41464b;
$lightGray: #f9f9f9;

$starHighlight: #ECAA04;

$backgroundColor: #f5f6f7;

$boxShadow: 3px 3px 3px rgba(#000, 0.15);

$borderRadius: 4px;


// 字体大小
$placeholderFontSize: 12px;
$contentFontSize: 12px;
$titleFontSize: 14px;
$iconFontSize: 12px;

// 字体颜色
$titleFontColor: #24292f;
$lightFontColor: #8b8c8f;

// border颜色
$borderColor: #eff0f0;

//------背景色-----
// hover背景色
$hoverBackColor: #eff0f0;
$hoverDeepBackColor: #e7e9e8;

$tabBackgroundColor: #f9f9f9;
// 通用header 背景色
$headerBackgroundColor: #fafbfc;
// 页面底色
//$contentBackgroundColor: #f5f6f7;
$contentBackgroundColor: #fafafa;

$editorBackgroundColor: #FFF;
// list item高亮背景色
$highlightBackgroundColor: #1790ff;
// 富文本
$textBackgroundColor: #FFF;

@mixin list-item-highlight {
  background: $highlightBackgroundColor;
  color: #FFFFFF;
  cursor: pointer;
}

@mixin custom-scroll-style {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px
  }

  &::-webkit-scrollbar-track {
    background-color: transparent
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #adb0b8;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #8a8e99;
  }
}


.custom-date-picker {
  z-index: 10000 !important;
}

.grabbing * {
  cursor: grabbing !important;
}


@mixin custom-input-style-mixin {
  &::v-deep(.ant-form-item-explain-error) {
    text-align: left;
    height: 18px;
    min-height: 18px;
    font-size: 12px;
    line-height: 18px;
  }

  &::v-deep(.ant-form-item-control-input-content) {
    display: flex;
    align-items: center;
    gap: 4px;
  }


  &::v-deep(.ant-input-affix-wrapper-focused) {
    box-shadow: none;
  }

  &::v-deep(.ant-form-item-has-error .ant-input-affix-wrapper-focused) {
    box-shadow: none;
  }

  &::v-deep(.ant-form-item-explain-error) {
    text-align: left;
  }

  .ant-input {
    background: #FFFFFF;

    &:focus {
      box-shadow: none;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 1000px #fff;
      background-color: transparent;
    }

    &:autofill {
      -webkit-box-shadow: inset 0 0 0 1000px #fff;
      background-color: transparent;
    }
  }

  &::v-deep(.ant-form-item-explain) {
    height: 18px;
    max-height: 18px;
    min-height: 18px;
  }

  .ant-form-item-has-error .ant-input {
    background: #FFFFFF;

    &:hover {
      border-color: #ff4d4f;
    }

    &:focus {
      border-color: #ff4d4f;
      box-shadow: none;
    }
  }
  &::v-deep(.ant-form-item) {
    margin-bottom: 12px;
  }
  .custom-input-style {
    min-height: 40px;
    border-radius: 6px;

    ::v-deep(.ant-input) {
      background: #FFFFFF !important;
      -webkit-box-shadow: 0 0 0 1000px #ffffff inset;

      &:focus {
        background: #FFFFFF !important;
        -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
      }

      &:-ms-input-placeholder {
        font-size: 14px;
      }

      &::-webkit-input-placeholder {
        font-size: 14px;
      }

      &::-moz-placeholder {
        font-size: 14px;
      }
    }
  }
}
