
* {
  box-sizing: border-box;
}

input {
  outline: none;
}


.clearFix:before,
.clearFix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}



.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.no-break-line-text {
  overflow: hidden; //超出的文本隐藏
  text-overflow: ellipsis; //溢出用省略号显示
  white-space: nowrap; //溢出不换行
}

$fontColor: #24292e;
$themeColor: #d14424;
$textColor: #41464b;
$lightGray: #f9f9f9;

$backgroundColor: #f5f6f7;

$boxShadow: 3px 3px 3px rgba(#000, 0.15);

$borderRadius: 4px;


// 字体大小
$placeholderFontSize: 12px;
$contentFontSize: 12px;
$titleFontSize: 14px;
$iconFontSize: 12px;

// 字体颜色
$titleFontColor: #24292f;

// border颜色
$borderColor: #f0f0f0;

//------背景色-----
// hover背景色
$hoverBackColor: #e7e9e8;

$tabBackgroundColor: #f9f9f9;
// 通用header 背景色
$headerBackgroundColor: #fafbfc;
// 页面底色
//$contentBackgroundColor: #f5f6f7;
$contentBackgroundColor: #fafafa;
// list item高亮背景色
$highlightBackgroundColor: #1790ff;
// 富文本
$textBackgroundColor: #FFF;

@mixin list-item-highlight {
  background: $highlightBackgroundColor;
  color: #FFFFFF;
  cursor: pointer;
}

.custom-input-style {
  ::v-deep(.ant-input) {
    background: #FFFFFF !important;
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset;

    &:focus {
      background: #FFFFFF !important;
      -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
    }
  }
}

.custom-date-picker {
  z-index: 10000 !important;
}

.grabbing * {
  cursor: grabbing !important;
}
