:root {
    --yq-white: #FFFFFF;
    --yq-black: #000000;
    --yq-background-base: #FFFFFF;
    --yq-yuque-grey-100: #FAFAFA;
    --yq-yuque-grey-200: #F4F5F5;
    --yq-yuque-grey-300: #EFF0F0;
    --yq-yuque-grey-400: #E7E9E8;
    --yq-yuque-grey-500: #D8DAD9;
    --yq-yuque-grey-600: #BEC0BF;
    --yq-yuque-grey-700: #8A8F8D;
    --yq-yuque-grey-800: #585A5A;
    --yq-yuque-grey-900: #262626;
    --yq-yuque-grey-1: #FAFAFA;
    --yq-yuque-grey-2: #F4F5F5;
    --yq-yuque-grey-3: #EFF0F0;
    --yq-yuque-grey-4: #E7E9E8;
    --yq-yuque-grey-5: #D8DAD9;
    --yq-yuque-grey-6: #BEC0BF;
    --yq-yuque-grey-7: #8A8F8D;
    --yq-yuque-grey-8: #585A5A;
    --yq-yuque-grey-9: #262626;
    --yq-pea-green-50: #F3FBE7;
    --yq-pea-green-100: #E8F7CF;
    --yq-pea-green-200: #DBF1B7;
    --yq-pea-green-300: #C1E77E;
    --yq-pea-green-400: #A7DD4B;
    --yq-pea-green-500: #8CCF17;
    --yq-pea-green-600: #74B602;
    --yq-pea-green-700: #5C8D07;
    --yq-pea-green-800: #406105;
    --yq-pea-green-900: #2A4200;
    --yq-pea-green-1: #E8F7CF;
    --yq-pea-green-2: #DBF1B7;
    --yq-pea-green-3: #C1E77E;
    --yq-pea-green-4: #A7DD4B;
    --yq-pea-green-5: #8CCF17;
    --yq-pea-green-6: #74B602;
    --yq-pea-green-7: #5C8D07;
    --yq-pea-green-8: #406105;
    --yq-pea-green-9: #2A4200;
    --yq-yuque-green-50: #ECFAF4;
    --yq-yuque-green-100: #DAF6EA;
    --yq-yuque-green-200: #C7F0DF;
    --yq-yuque-green-300: #82EDC0;
    --yq-yuque-green-400: #45DE9D;
    --yq-yuque-green-500: #0BD07D;
    --yq-yuque-green-600: #00B96B;
    --yq-yuque-green-700: #009456;
    --yq-yuque-green-800: #00663B;
    --yq-yuque-green-900: #003D23;
    --yq-yuque-green-1: #DAF6EA;
    --yq-yuque-green-2: #C7F0DF;
    --yq-yuque-green-3: #82EDC0;
    --yq-yuque-green-4: #45DE9D;
    --yq-yuque-green-5: #0BD07D;
    --yq-yuque-green-6: #00B96B;
    --yq-yuque-green-7: #009456;
    --yq-yuque-green-8: #00663B;
    --yq-yuque-green-9: #003D23;
    --yq-cyan-50: #E6F9FB;
    --yq-cyan-100: #CEF5F7;
    --yq-cyan-200: #B5EFF2;
    --yq-cyan-300: #81DFE4;
    --yq-cyan-400: #5ED3D9;
    --yq-cyan-500: #1DC0C9;
    --yq-cyan-600: #01B2BC;
    --yq-cyan-700: #078B92;
    --yq-cyan-800: #07787E;
    --yq-cyan-900: #004347;
    --yq-cyan-1: #CEF5F7;
    --yq-cyan-2: #B5EFF2;
    --yq-cyan-3: #81DFE4;
    --yq-cyan-4: #5ED3D9;
    --yq-cyan-5: #1DC0C9;
    --yq-cyan-6: #01B2BC;
    --yq-cyan-7: #078B92;
    --yq-cyan-8: #07787E;
    --yq-cyan-9: #004347;
    --yq-blue-50: #ECF4FD;
    --yq-blue-100: #D9EAFC;
    --yq-blue-200: #C0DDFC;
    --yq-blue-300: #81BBF8;
    --yq-blue-400: #5FA8F6;
    --yq-blue-500: #2F8EF4;
    --yq-blue-600: #117CEE;
    --yq-blue-700: #0C68CA;
    --yq-blue-800: #074A92;
    --yq-blue-900: #00346B;
    --yq-blue-1: #D9EAFC;
    --yq-blue-2: #C0DDFC;
    --yq-blue-3: #81BBF8;
    --yq-blue-4: #5FA8F6;
    --yq-blue-5: #2F8EF4;
    --yq-blue-6: #117CEE;
    --yq-blue-7: #0C68CA;
    --yq-blue-8: #074A92;
    --yq-blue-9: #00346B;
    --yq-sea-blue-50: #ECEEFD;
    --yq-sea-blue-100: #D9DFFC;
    --yq-sea-blue-200: #C0CAFC;
    --yq-sea-blue-300: #96A7FD;
    --yq-sea-blue-400: #6E85F7;
    --yq-sea-blue-500: #4861E0;
    --yq-sea-blue-600: #2F4BDA;
    --yq-sea-blue-700: #213BC0;
    --yq-sea-blue-800: #162883;
    --yq-sea-blue-900: #101E60;
    --yq-sea-blue-1: #D9DFFC;
    --yq-sea-blue-2: #C0CAFC;
    --yq-sea-blue-3: #96A7FD;
    --yq-sea-blue-4: #6E85F7;
    --yq-sea-blue-5: #4861E0;
    --yq-sea-blue-6: #2F4BDA;
    --yq-sea-blue-7: #213BC0;
    --yq-sea-blue-8: #162883;
    --yq-sea-blue-9: #101E60;
    --yq-purple-50: #F2EDFC;
    --yq-purple-100: #E6DCF9;
    --yq-purple-200: #D9C9F8;
    --yq-purple-300: #BA9BF2;
    --yq-purple-400: #9A6EED;
    --yq-purple-500: #7E45E8;
    --yq-purple-600: #601BDE;
    --yq-purple-700: #4C16B1;
    --yq-purple-800: #391084;
    --yq-purple-900: #270070;
    --yq-purple-1: #E6DCF9;
    --yq-purple-2: #D9C9F8;
    --yq-purple-3: #BA9BF2;
    --yq-purple-4: #9A6EED;
    --yq-purple-5: #7E45E8;
    --yq-purple-6: #601BDE;
    --yq-purple-7: #4C16B1;
    --yq-purple-8: #391084;
    --yq-purple-9: #270070;
    --yq-magenta-50: #FDEFF7;
    --yq-magenta-100: #FBDFEF;
    --yq-magenta-200: #F7C4E2;
    --yq-magenta-300: #F297CC;
    --yq-magenta-400: #EC6AB6;
    --yq-magenta-500: #E746A4;
    --yq-magenta-600: #D22D8D;
    --yq-magenta-700: #AE146E;
    --yq-magenta-800: #800F51;
    --yq-magenta-900: #5C0036;
    --yq-magenta-1: #FBDFEF;
    --yq-magenta-2: #F7C4E2;
    --yq-magenta-3: #F297CC;
    --yq-magenta-4: #EC6AB6;
    --yq-magenta-5: #E746A4;
    --yq-magenta-6: #D22D8D;
    --yq-magenta-7: #AE146E;
    --yq-magenta-8: #800F51;
    --yq-magenta-9: #5C0036;
    --yq-red-50: #FDF1F3;
    --yq-red-100: #FBE4E7;
    --yq-red-200: #F8CED3;
    --yq-red-300: #F1A2AB;
    --yq-red-400: #EA7583;
    --yq-red-500: #E4495B;
    --yq-red-600: #DF2A3F;
    --yq-red-700: #AD1A2B;
    --yq-red-800: #8F0515;
    --yq-red-900: #70000D;
    --yq-red-1: #FBE4E7;
    --yq-red-2: #F8CED3;
    --yq-red-3: #F1A2AB;
    --yq-red-4: #EA7583;
    --yq-red-5: #E4495B;
    --yq-red-6: #DF2A3F;
    --yq-red-7: #AD1A2B;
    --yq-red-8: #8F0515;
    --yq-red-9: #70000D;
    --yq-vermilion-50: #FDF3F1;
    --yq-vermilion-100: #FBE8E4;
    --yq-vermilion-200: #F8D6CE;
    --yq-vermilion-300: #F0AD9D;
    --yq-vermilion-400: #EB866F;
    --yq-vermilion-500: #E46549;
    --yq-vermilion-600: #DF4B2A;
    --yq-vermilion-700: #AD351A;
    --yq-vermilion-800: #8F1E05;
    --yq-vermilion-900: #701500;
    --yq-vermilion-1: #FBE8E4;
    --yq-vermilion-2: #F8D6CE;
    --yq-vermilion-3: #F0AD9D;
    --yq-vermilion-4: #EB866F;
    --yq-vermilion-5: #E46549;
    --yq-vermilion-6: #DF4B2A;
    --yq-vermilion-7: #AD351A;
    --yq-vermilion-8: #8F1E05;
    --yq-vermilion-9: #701500;
    --yq-orange-50: #FEF2E9;
    --yq-orange-100: #FDE6D3;
    --yq-orange-200: #F8D6B9;
    --yq-orange-300: #F8B881;
    --yq-orange-400: #F6A055;
    --yq-orange-500: #F38F39;
    --yq-orange-600: #ED740C;
    --yq-orange-700: #C75C00;
    --yq-orange-800: #944400;
    --yq-orange-900: #663000;
    --yq-orange-1: #FDE6D3;
    --yq-orange-2: #F8D6B9;
    --yq-orange-3: #F8B881;
    --yq-orange-4: #F6A055;
    --yq-orange-5: #F38F39;
    --yq-orange-6: #ED740C;
    --yq-orange-7: #C75C00;
    --yq-orange-8: #944400;
    --yq-orange-9: #663000;
    --yq-yellow-50: #FCF5E6;
    --yq-yellow-100: #F9EFCD;
    --yq-yellow-200: #F6E1AC;
    --yq-yellow-300: #F5D480;
    --yq-yellow-400: #F5CB61;
    --yq-yellow-500: #F3BB2F;
    --yq-yellow-600: #ECAA04;
    --yq-yellow-700: #C99103;
    --yq-yellow-800: #8F6600;
    --yq-yellow-900: #664900;
    --yq-yellow-1: #F9EFCD;
    --yq-yellow-2: #F6E1AC;
    --yq-yellow-3: #F5D480;
    --yq-yellow-4: #F5CB61;
    --yq-yellow-5: #F3BB2F;
    --yq-yellow-6: #ECAA04;
    --yq-yellow-7: #C99103;
    --yq-yellow-8: #8F6600;
    --yq-yellow-9: #664900;
    --yq-bright-yellow-50: #FDF9E4;
    --yq-bright-yellow-100: #FBF5CB;
    --yq-bright-yellow-200: #FCF1A6;
    --yq-bright-yellow-300: #FDEB78;
    --yq-bright-yellow-400: #FCE75A;
    --yq-bright-yellow-500: #FBDE28;
    --yq-bright-yellow-600: #EDCE02;
    --yq-bright-yellow-700: #CDB204;
    --yq-bright-yellow-800: #A58F04;
    --yq-bright-yellow-900: #665800;
    --yq-bright-yellow-1: #FBF5CB;
    --yq-bright-yellow-2: #FCF1A6;
    --yq-bright-yellow-3: #FDEB78;
    --yq-bright-yellow-4: #FCE75A;
    --yq-bright-yellow-5: #FBDE28;
    --yq-bright-yellow-6: #EDCE02;
    --yq-bright-yellow-7: #CDB204;
    --yq-bright-yellow-8: #A58F04;
    --yq-bright-yellow-9: #665800;
    --yq-brown-50: #F7F2EA;
    --yq-brown-100: #F0E7D6;
    --yq-brown-200: #E7D7BB;
    --yq-brown-300: #DBC39A;
    --yq-brown-400: #D2B684;
    --yq-brown-500: #C59F5E;
    --yq-brown-600: #B1873F;
    --yq-brown-700: #927035;
    --yq-brown-800: #74592A;
    --yq-brown-900: #523F1E;
    --yq-brown-1: #F0E7D6;
    --yq-brown-2: #E7D7BB;
    --yq-brown-3: #DBC39A;
    --yq-brown-4: #D2B684;
    --yq-brown-5: #C59F5E;
    --yq-brown-6: #B1873F;
    --yq-brown-7: #927035;
    --yq-brown-8: #74592A;
    --yq-brown-9: #523F1E;
    --yq-theme: var(--yq-yuque-green-600);
    --yq-normal: var(--yq-yuque-grey-500);
    --yq-bg-primary: var(--yq-background-base);
    --yq-bg-secondary: var(--yq-yuque-grey-100);
    --yq-bg-tertiary: var(--yq-yuque-grey-200);
    --yq-bg-primary-hover: var(--yq-yuque-grey-300);
    --yq-bg-primary-hover-light: var(--yq-yuque-grey-400);
    --yq-bg-foreground: var(--yq-white);
    --yq-bg-pre-foreground: var(--yq-white);
    --yq-bg-pre-secondary: var(--yq-yuque-grey-200);
    --yq-mask-bg: hsla(0, 0%, 0%, 0.65);
    --yq-toast-bg: hsla(0, 0%, 0%, 0.65);
    --yq-border-primary: var(--yq-yuque-grey-400);
    --yq-border-primary-active: var(--yq-yuque-green-600);
    --yq-border-light: hsla(0, 0%, 0%, 0.04);
    --yq-border-heavy: var(--yq-yuque-grey-300);
    --yq-cardborder-hover: var(--yq-blue-300);
    --yq-cardborder-selected: var(--yq-blue-500);
    --yq-sheetborder: hsla(0, 0%, 0%, 0.1);
    --yq-text-primary: var(--yq-yuque-grey-900);
    --yq-text-body: var(--yq-yuque-grey-800);
    --yq-text-caption: var(--yq-yuque-grey-700);
    --yq-text-disable: var(--yq-yuque-grey-600);
    --yq-text-link: var(--yq-blue-600);
    --yq-text-link-hover: var(--yq-blue-400);
    --yq-icon-primary: var(--yq-yuque-grey-900);
    --yq-icon-secondary: var(--yq-yuque-grey-800);
    --yq-icon-caption: var(--yq-yuque-grey-700);
    --yq-icon-disable: var(--yq-yuque-grey-600);
    --yq-icon-hover: var(--yq-yuque-grey-500);
    --yq-icon-colorbg: hsla(0, 0%, 0%, 0.45);
    --yq-function-success: var(--yq-yuque-green-600);
    --yq-function-info: var(--yq-blue-600);
    --yq-function-warning: var(--yq-yellow-600);
    --yq-function-error: var(--yq-red-600);
    --yq-badge: var(--yq-blue-500);
    --yq-popover-bg: var(--yq-white);
    --yq-disable-color: var(--yq-yuque-grey-600);
}
