@import "./common.scss";
// tiptap style
@mixin tiptap-bubble-menu-style {
  .bubble-menu {
    display: flex;
    background-color: #0D0D0D;
    padding: 0.2rem;
    border-radius: 0.5rem;

    button {
      border: none;
      background: none;
      color: #FFF;
      font-size: 0.85rem;
      font-weight: 500;
      padding: 0 0.2rem;
      opacity: 0.6;

      &:hover,
      &.is-active {
        opacity: 1;
      }
    }
  }
}

@mixin tiptap-task-list-style {
  ul[data-type="taskList"] {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;

      > label {
        display: flex;
        align-items: center;
        user-select: none;
        margin-right: 10px;
      }

      > div {
        flex: 1 1 auto;

        p {
          margin-bottom: 0;
        }
      }
    }

    input[type="checkbox"] {
      cursor: pointer;
    }
  }
}

@mixin tiptap-code-style {
  pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }

    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #F98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #FBBC88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #B9F18D;
    }

    .hljs-title,
    .hljs-section {
      color: #FAF594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70CFF8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
}

@mixin tiptap-mention-style {
  .mention {
    color: #A975FF;
    cursor: pointer;
    background-color: rgba(#A975FF, 0.1);
    border-radius: 0.3rem;
    padding: 0.1rem 0.3rem;
  }
}

@mixin tiptap-placeholder-style {
  p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
  }
}

@mixin raw-html-tiptap-style {
  text-align: left;
  outline: none;
  padding: 20px 20px 50px;
  p {
    margin-bottom: 0;
  }
  @include tiptap-placeholder-style;

  @include tiptap-bubble-menu-style;

  @include tiptap-task-list-style;

  @include tiptap-code-style;

  @include tiptap-mention-style;

  > * + * {
    margin-top: 0.75em;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 3px solid rgba(#0D0D0D, 0.1);
  }
}

.tip-tap-editor-readonly {
  & ::v-deep(.ProseMirror) {
    text-align: left;
    outline: none;
    p {
      margin-bottom: 0.5em;
      margin-top: 0;
    }

    @include tiptap-placeholder-style;

    @include tiptap-bubble-menu-style;

    @include tiptap-task-list-style;

    @include tiptap-code-style;

    @include tiptap-mention-style;

    > * + * {
      margin-top: 0.5em;
    }

    h1, h2, h3, h4, h5, h6 {
      line-height: 1.1;
    }

    blockquote {
      padding-left: 1rem;
      border-left: 3px solid rgba(#0D0D0D, 0.1);
    }
  }
}


.tip-tap-editor {
  & ::v-deep(.ProseMirror) {
    text-align: left;
    outline: none;
    //padding: 20px;

    img {
      display: inline-block;
      float: none;
      margin: 12px 0;
      max-width: 100%;

      &[data-display='inline'] {
        margin-left: 12px;
        margin-right: 12px;
      }

      &[data-display='block'] {
        display: block;
      }

      &[data-display='left'] {
        float: left;
        margin-left: 0;
        margin-right: 12px;
      }

      &[data-display='right'] {
        float: right;
        margin-left: 12px;
        margin-right: 0;
      }
    }

    .image-view {
      $root: &;

      display: inline-block;
      float: none;
      line-height: 0;
      margin: 12px 0;
      max-width: 100%;
      user-select: none;
      vertical-align: baseline;

      &--inline {
        margin-left: 12px;
        margin-right: 12px;
      }

      &--block {
        display: block;
      }

      &--left {
        float: left;
        margin-left: 0;
        margin-right: 12px;
      }

      &--right {
        float: right;
        margin-left: 12px;
        margin-right: 0;
      }

      &__body {
        clear: both;
        display: inline-block;
        max-width: 100%;
        outline-color: transparent;
        outline-style: solid;
        outline-width: 2px;
        transition: all 0.2s ease-in;
        position: relative;

        &:hover {
          outline-color: #ffc83d;
        }

        &--focused:hover,
        &--resizing:hover {
          outline-color: transparent;
        }

        &__placeholder {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: -1;
        }

        &__image {
          cursor: pointer;
          margin: 0;
        }
      }
    }

    .image-resizer {
      border: 1px solid $themeColor;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;

      &__handler {
        background-color: $themeColor;
        border: 1px solid #FFF;
        border-radius: 2px;
        box-sizing: border-box;
        display: block;
        height: 12px;
        position: absolute;
        width: 12px;
        z-index: 2;

        &--tl {
          cursor: nw-resize;
          left: -6px;
          top: -6px;
        }

        &--tr {
          cursor: ne-resize;
          right: -6px;
          top: -6px;
        }

        &--bl {
          bottom: -6px;
          cursor: sw-resize;
          left: -6px;
        }

        &--br {
          bottom: -6px;
          cursor: se-resize;
          right: -6px;
        }
      }
    }

    .is-empty::before {
      content: attr(data-placeholder);
      float: left;
      color: #ced4da;
      pointer-events: none;
      height: 0;
    }

    p {
      margin-bottom: 0.5em;

    }

    @for $i from 1 through 7 /* max-indent */ {
      $indent-margin-base: 30px;

      *[data-indent='#{$i}'] {
        margin-left: $indent-margin-base * $i !important;
      }
    }

    @include tiptap-placeholder-style;

    @include tiptap-bubble-menu-style;

    @include tiptap-task-list-style;

    @include tiptap-code-style;

    @include tiptap-mention-style;

    > * + * {
      margin-top: 0.5em;
    }

    h1, h2, h3, h4, h5, h6 {
      line-height: 1.1;
    }

    blockquote {
      padding-left: 1rem;
      border-left: 3px solid rgba(#0D0D0D, 0.1);
    }
  }
}

// tiptap operation
.operation-icon {
  margin-left: 8px;
  cursor: pointer;
  .icon {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    &:hover {
      background: #e7e9e8;
    }

    .is-active {
      background: $hoverBackColor;
    }

    .icon-svg {
      font-size: 16px;
    }
    color: #000;
  }
  .is-active {
    background: $hoverBackColor;
  }
}

.custom-tool-tip {
  border-radius: 6px;

  .ant-tooltip-arrow {
    display: none !important;
  }

  .ant-tooltip-inner {
    border-radius: 6px !important;
  }

  &::v-deep(.ant-tooltip-arrow) {
    display: none !important;
  }

  &::v-deep(.ant-tooltip-inner) {
    border-radius: 6px !important;
  }
}


.down-arrow-style {
  font-size: 12px;
  color: #8c8c8c;
}
