@mixin tiptap-style {
  text-align: left;
  text-indent: 10px;
  outline: none;
  padding: 20px;
  padding-bottom: 50px;

  > * + * {
    margin-top: 0.75em;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 3px solid rgba(#0D0D0D, 0.1);
  }

  &::v-deep(.mention) {
    color: #A975FF;
    cursor: pointer;
    background-color: rgba(#A975FF, 0.1);
    border-radius: 0.3rem;
    padding: 0.1rem 0.3rem;
  }
}

.tip-tap-editor {
  & ::v-deep(.ProseMirror) {
    text-align: left;
    text-indent: 10px;
    outline: none;
    padding: 20px;

    > * + * {
      margin-top: 0.75em;
    }

    h1, h2, h3, h4, h5, h6 {
      line-height: 1.1;
    }

    blockquote {
      padding-left: 1rem;
      border-left: 3px solid rgba(#0D0D0D, 0.1);
    }

    .mention {
      color: #A975FF;
      cursor: pointer;
      background-color: rgba(#A975FF, 0.1);
      border-radius: 0.3rem;
      padding: 0.1rem 0.3rem;
    }
  }
}


.operation-icon {
  padding: 0 5px;
  height: 42px;
  cursor: pointer;

  .icon {
    width: 20px;
    height: 20px;
    margin: 4px auto 0;

    .is-active {
      color: #000;
    }

    .icon-svg {
      font-size: 20px;
    }

    color: #b5b5bb;
  }

  .name {
    font-size: 12px;
    //width: 24px;
    margin-top: 1px;
    line-height: 18px;
  }
}
