@import "../../../style/common.scss";

.custom-field-box {
  padding: 0 15px 15px 15px;
  background: #FFFFFF;
  max-width: 850px;
  margin: 0 auto 15px;
  //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05);
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
  .header {
    height: 50px;
    line-height: 50px;
    padding: 0 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid $borderColor;

    .title {
      font-size: 16px;
      font-weight: 600;
    }

    .right {
      display: flex;
      gap: 10px;
    }
  }

  .content {
    padding-top: 15px;
    min-height: 250px;
  }
}
